/***** BASE STYLES *****/

.body {
    color: #2b2b2b;
    font-family: font-family: 'Cormorant Garamond', serif, 'Kalam', cursive, 'Gudea', sans-serif;
 }
 
 #about, #rules, #tasks, #roster, #contact, #faq {
     height: 600px;
 }
 
 /***** GRID *****/
 
 .full-width {
     margin: 0 auto;
     width: 1200px;
 }
 
 .half-width {
     float: left;
     width: 600px;
 }
 
 .third-width {
     float: left;
     width: 400px;
 }
 
 /*****HEADER*****/
 
 header {
     background: url('../img/icecream-duck-island.jpg');
     background-size: cover;
     height:800px;
     padding-bottom:35px;
 }
 
 header h1 {
     color: #bbc085;
     font-family: 'Kalam', cursive;
     font-size: 30px;
     padding: 65px 0 65px 25px;
 }
 
 nav {
     float: right;
     width: 150%;
     padding: 75px 25px;
 }

   nav ul li {
    display: inline-block;
   }


  nav ul li a {
      color: #828282;
      font-family: 'Gudea', sans-serif;
      font-size: 18px;
      padding-left: 80px;
      text-decoration: inherit;
      text-transform: uppercase;
  }
 
  header h2 {
      clear: both;
      color: #9b9b9b;
      font-family: 'Cormorant Garamond', serif;
      font-size: 72px;
      line-height: 80px;
      padding: 20px 0 20px 25px;
      width: 1000px;
  }
 
  header h2 span {
      color: #2b2b2b;
  }
 
  /*****ABOUT*****/
 
 #about .full-width {
    padding: 80px 0;
 }
 
 #about h2 {
     font-family: 'Cormorant Garamond', serif;
     font-size: 36px;
     padding-left: 50px;
 }
  
 #about p {
     color: #7f7f7f;
     font-size: 21px;
     line-height: 40px;
     padding-right: 50px;
     padding-left: 50px;
 }

  
 /*****IMPORTANT*****/
 
 #important {
    background-color: #f0d3ad;
    text-align: center;
    overflow: hidden;
    padding-bottom: 35px;
 }
 
 #important .full-width {
    padding: 115px 0;
    padding-top: 100px;
 }

 #important img {
    padding-bottom: 30px;
 }
 
 #important h3 {
     color: #282828;
     font-family: 'Gudea', sans-serif;
     font-size: 24px;
     line-height: 32px;
     margin: 20px auto;
     width: 400px;
     float: left;
     padding-top: 5px;
 }

 #important p {
     font-family: 'Cormorant Garamond', serif;
     font-size: 18px;
     line-height: 30px;
     padding: 0 50px;
     overflow: auto;
     padding-bottom: 50px;
 }

  
 
 /*****CONTACT*****/
 
 #contact {
     background-color: #ebebeb;
     float: none;
     overflow: hidden;
 }
 
 #contact .full-width {
     padding: 110px 0;
 }
 
 #contact img#ice-creamery-img {
     margin-left: 25px;
 }
 
 #contact h2, #contact #email-header, #contact #call-header, #contact ul {
     padding-left: 115px;
 }
 
 #contact #envelope {
     padding: 0 10px 0 115px;
 }
 
 #contact h2 {
     color: #2b2b2b;
     font-family: 'Lora', serif;
     font-size: 36px;
     line-height: 44px;
 }
 
 #contact #email-header {
     font-family: 'Gudea', sans-serif;
     font-size: 32px;
     font-weight: normal;
     line-height: 44px;
     letter-spacing: 1px;
     margin: -30px 0 5px 0;
 }
 
 #contact #call-header {
     color: #2b2b2b;
     font-family: 'Gudea', sans-serif;
     font-weight: bold;
     font-size: 29px;
     line-height: 44px;
     margin: 40px 0 0 0;
 }
 
 #contact a {
     color: #c49075;
     font-weight: bold;
     font-size: 28px;
     text-decoration: none;
 }
 
 #contact ul {
     list-style: none;
     font-family: 'Gudea', sans-serif;
 }
 
 #contact ul li {
     display: inline-block;
     line-height: 30px;
 }
 
 #contact ul img {
     font-size: 32px;
     padding-right: 48px;
 }

 ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
li {
    display:inline-block;
    margin-right: 1px;
}